<h2>Прямой анализ рекурсивного дерева вызовов</h2>

<h3>Алгоритм сортировки слиянием</h3>
<p>Рассмотрим подход к получению функции трудоемкости рекурсивного алгоритма, основанный на
    непосредственном подсчете вершин дерева рекурсивных вызовов, на примере алгоритма сортировки
    слиянием.</p>
<p>Рекурсивная процедура Merge Sort – MS получает на вход массив А и два индекса p и q, указывающие
    на ту часть массива, которая будет сортироваться при данном вызове. Вспомогательные массивы Bp и
    Bq используются для слияния отсортированных частей массива.</p>
<p>MS(A, p ,q, Bp, Bq)<br/>
    If p<img border="0" class="i" src="./img/neravno.gif"/>q (проверка останов рекурсии при
    p=q)<br/>
    then<br/>
    r<--(p+q) div 2<br/>
    MS(A, p, r, Bp,Bq) (рекурсивный вызов для первой части)<br/>
    MS(A, r+1, q, Bp,Bq) (рекурсивный вызов для второй части)<br/>
    Merge(A, p, r, q, Bp, Bq) (слияние отсортированных частей)<br/>
    Return (A)<br/>
    End</p>
<h3>Слияние отсортированных частей (Merge)</h3>

<p>Рассмотрим процедуру слияния отсортированных частей массива А, использующую дополнительные
    массивы Bp и Bq, в конец которых с целью остановки движения индекса помещается максимальное
    значение. Поскольку сам алгоритм рекурсивной сортировки устроен так, что объединяемые части
    массива А находятся рядом друг с другом, то алгоритм слияния вначале копирует отсортированные
    части в промежуточные массивы, а затем формирует объединенный массив непосредственно в массиве
    А.</p>
<p>Merge (A,p,r,q,Bp,Bq) (В {} взято количество операций в данной строке)</p>
<p>Max <-- A[r] {2}<br/>
    If Max <A[q] Then {2}<br/>
    Max <-- A[q] {(1/2)*2}<br/>
    kp <-- r - p + 1 {3}<br/>
    p1 <-- p – 1 {2}<br/>
    For i <-- 1 to kp (копирование первой части) {1+kp*3}<br/>
    Bp [ i ] <-- A[p1 + i ] {kp*(4)}<br/>
    Bp[ kp+1] <-- Max {3}<br/>
    kq <-- q - r {2}<br/>
    For i <-- 1 to kq (копирование второй части) {1+ kq*3}<br/>
    Bq [ i ] <-- A[ r + i ] {kq*(4)}<br/>
    Bq [ kq+ 1] <-- Max {3}<br/>
    (заметим, что m=kp + kq = q – p + 1 – длина объединенного массива)<br/>
    pp <-- p {1}<br/>
    pq <-- r+1 {2}<br/>
    For i <-- p to q (слияние частей) {1+m*3}<br/>
    If Bp [ pp ] < Bq [ pq ] {m*3}<br/>
    Then<br/>
    A[ i ] <-- Bp[ pp ] {(1/2)*m*3}<br/>
    pp <-- pp +1 {(1/2)*m*2}<br/>
    Else<br/>
    A [ i ] <-- Bq [ pq ] {(1/2)*m*3}<br/>
    pq <-- pq +1 {(1/2)*m*2}<br/>
    Return(A)<br/>
    End</p>
<p>На основании указанного количества операций можно получить трудоемкость процедуры слияния
    отсортированных массивов в среднем:</p>
<p><img border=0 class="i" src="./img/fmerge.gif"/>(m) =
    2+2+1+3+2+1+kp*7+3+2+1+kq*7+3+1+2+1+m*(3+3+3+2) = 11*m + 7*(kp+kq) + 23 = 18*m+23. (10.1)</p>
<h3>Подсчет вершин в дереве рекурсивных вызовов</h3>
<p>Алгоритм, получая на входе массив из n элементов, делит его пополам при первом вызове, поэтому
    рассмотрим случай, когда n=<img border=0 class="i" src="./img/2k.gif"/>, k =<img border=0
                                                                                     class="i"
                                                                                     src="./img/log2n.gif"/>
</p>
<p>В этом случае мы имеем полное дерево рекурсивных вызовов глубиной k, содержащее n листьев,
    фрагмент дерева показан на рис 10.1.</p>
<img border=0 class="i" src="./img/img21.gif"/>
<p>Рис 10.1 Фрагмент рекурсивного дерева при сортировке слиянием</p>
<p>Обозначим количество вершин дерева через V:<br/>
    V = n + n/2+n/4+n/8+...+1 = n*(1+1/2+1/4+1/8+...+1)=2n - 1= <img border=0 class="i"
                                                                     src="./img/2kplus1.gif"/>- 1
</p>
<p>Из них все внутренние вершины порождают рекурсию, количество таких вершин – Vr = n-1, остальные n
    вершин – это вершины в которых рассматривается только один элемент массива, что приводит к
    останову рекурсии.</p>
<h3>Анализ трудоемкости алгоритма сортировка слиянием</h3>
<p>Таким образом, для n листьев дерева выполняется вызов процедуры MS c вычислением r+1, проверка
    условия p=q и возврат в вызывающую процедуру для слияния, что в сумме с учетом трудоемкости
    вызова даёт:<br/>F1(n) = n*2*(5+4+1) + n*2(If p=q и r+1) = 22*n;</p>
<p>Для n-1 рекурсивных вершин выполняется проверка длины переданного массива, вычисление середины
    массива, рекурсивный вызов процедур MS, и возврат, поскольку трудоемкость вызова считается при
    входе в процедуру, то мы получаем:<br/>Fr(n) = (n-1)*2*(5+4+1) + (n-1)*(1+3+1) = 24*n - 24;</p>
<p>Процедура слияния отсортированных массивов будет вызвана n-1 раз, при этом трудоемкость
    складывается из трудоемкости вызова и собственной трудоемкости процедуры Merge:<br/>Трудоемкость
    вызова составит (для 6 параметров и 4-х регистров):<br/>Fm
    <вызов>(n) = (n-1)*2*(6+4+1) = 22*n - 22;
</p>
<p>Поскольку трудоемкость процедуры слияния для массива длиной m составляет 18*m + 23 (10.1), и
    процедура вызывается n-1 раз с длинами массива равными n, n/2, n/4, …, причем 2 раза с длиной
    n/2, 4 раза с длиной n/4, то со-вокупно имеем:<br/>
    Fm
    <слияние>(n) = (n-1)*23 + 18*n + 2*18*(n/2) + 4*18*(n/4) + … + = <br/>
        = {учитывая, что таким образом обрабатывается k-1 уровней}<br/>
        = 18*n *(<img border=0 class="i" src="./img/log2n.gif"/> – 1) + 23*(n-1) = 18*n*
        <img border=0 class="i" src="./img/log2n.gif"/> + 5*n - 23;
</p>
<p>Учитывая все компоненты функции трудоемкости, получаем окончательную оценку:<br/>
    Fa(n) = F1(n) + Fr(n) + Fm
    <вызов>(n) + Fm
        <слияние>(n) = <br/>
            = 22*n + 24*n - 24 + 22*n - 22 +18*n* <img border=0 class="i" src="./img/log2n.gif"/> +
            5*n - 23 =<br/>
            = 18*n* <img border=0 class="i" src="./img/log2n.gif"/> + 73*n - 69 (10.2)
</p>
<p>Если количество чисел на входе алгоритма не равно степени двойки, то необходимо проводить более
    глубокий анализ, основанный на изучении поведения рекурсивного дерева, однако при любых
    ситуациях с данными оценка главного порядка Q( n* <img border=0 class="i"
                                                           src="./img/log2n.gif"/>) не измениться.
</p>


