<h2>Машина Тьюринга и алгоритмически неразрешимые проблемы</h2>
<h3>Машина Тьюринга</h3>

<p>Алан Тьюринг (Turing) в 1936 году опубликовал в трудах Лондонского математического
    общества статью «О вычислимых числах в приложении к проблеме разрешения», которая
    наравне с работами Поста и Черча лежит в основе современной теории алгоритмов.</p>
<p>Предыстория создания этой работы связана с формулировкой Давидом Гильбертом на
    Международном математическом конгрессе в Париже в 1900 году неразрешенных математических
    проблем. Одной из них была задача до-казательства непротиворечивости системы аксиом
    обычной арифметики, которую Гильберт в дальнейшем уточнил как «проблему разрешимости» -
    нахождение общего метода, для определения выполнимости данного высказывания на языке
    формальной логики.</p>
<p>Статья Тьюринга как раз и давала ответ на эту проблему - вторая про-блема Гильберта
    оказалась неразрешимой. Но значение статьи Тьюринга выходило далеко за рамки той задачи,
    по поводу которой она была написана.</p>
<p>Приведем характеристику этой работы, принадлежащую Джону Хоп-крофту: «Работая над
    проблемой Гильберта, Тьюрингу пришлось дать четкое определение самого понятия метода.
    Отталкиваясь от интуитивного представления о методе как о некоем алгоритме, т.е.
    процедуре, которая может быть выполнена механически, без творческого вмешательства, он
    показал, как эту идею можно воплотить в виде подробной модели вычислительного процесса.
    Полученная модель вычислений, в которой каждый алгоритм разбивался на последовательность
    простых, элементарных шагов, и была логической конструкцией, названной впоследствии
    машиной Тьюринга».</p>
<p>Машина Тьюринга является расширением модели конечного автомата, расширением, включающим
    потенциально бесконечную память с возможностью перехода (движения) от обозреваемой в
    данный момент ячейки к ее левому или правому соседу.</p>
<ul class="spisok">
    <b class="zagolovok_spiska">Формально машина Тьюринга может быть описана следующим
        образом: Пусть заданы:</b>
    <li><p>конечное множество состояний – Q, в которых может находиться машина Тьюринга;</p>
    <li><p>конечное множество символов ленты – Г;</p>
    <li><p>функция <img border=0 class="i" src="./img/sigma.gif"/> (функция переходов или
        программа), которая задается отображением пары из декартова произведения Q x Г
        (машина находится в состоянии <img border=0 class="i" src="./img/qi.gif"/> и
        обозревает символ <img border=0 class="i" src="./img/vi.gif"/>) в тройку декартова
        произведения Q х Г х {L,R} (машина переходит в состояние <img border=0 class="i"
                                                                      src="./img/qi.gif"/>,
        заменяет символ <img border=0 class="i" src="./img/vi.gif"/> на символ <img border=0
                                                                                    class="i"
                                                                                    src="./img/vj.gif"/>
        и передвигается влево или вправо на один символ ленты) – Q x Г-->Q х Г х {L,R}</p>
    <li><p>один символ из Г-->е (пустой);</p>
    <li><p>подмножество <img border=0 class="i" src="./img/summa.gif"/> є Г --> определяется
        как подмножество входных символов ленты, причем е є (Г-<img border=0 class="i"
                                                                    src="./img/summa.gif"/>);
    </p>
    <li><p>одно из состояний – <img border=0 class="i" src="./img/q0.gif"/> є Q является
        начальным состоянием машины.</p>
</ul>
<table align="center" border="1" width="70%">
    <caption>Решаемая проблема задается путем записи конечного количества символов из
        множества <img border=0 class="i" src="./img/summa.gif"/> є Г – Si є <img border=0
                                                                                  class="i"
                                                                                  src="./img/summa.gif"/>
        на ленту:
    </caption>
    <tr>
        <td>e</td>
        <td>S1</td>
        <td>S2</td>
        <td>S3</td>
        <td>S4</td>
        <td>.........</td>
        <td>Sn</td>
        <td>e</td>
    </tr>
</table>
<p>после чего машина переводится в начальное состояние и головка устанавливается у самого
    левого непустого символа – <img border=0 class="i" src="./img/q0w.gif"/>, после чего в
    соответствии с указанной функцией переходов (<img border=0 class="i"
                                                      src="./img/qi.gif"/>, <img border=0
                                                                                 class="i"
                                                                                 src="./img/si.gif"/>)-->(<img
            border=0 class="i" src="./img/qj.gif"/>,<img border=0 class="i"
                                                         src="./img/sk.gif"/>, L или R)
    машина начинает заменять обозреваемые символы, передвигать головку вправо или влево и
    переходить в другие состояния, предписанные функций переходов.</p>
<p>Остановка машины происходит в том случае, если для пары (<img border=0 class="i"
                                                                 src="./img/qi.gif"/>,<img
        border=0 class="i" src="./img/si.gif"/>) функ-ция перехода не определена.</p>
<p>Алан Тьюринг высказал предположение, что любой алгоритм в интуитивном смысле этого слова
    может быть представлен эквивалентной машиной Тьюринга. Это предположение известно как
    тезис Черча–Тьюринга. Каждый компьютер может моделировать машину Тьюринга (операции
    перезаписи ячеек, сравнения и перехода к другой соседней ячейке с учетом изменения
    состояния машины). Следовательно, он может моделировать алгоритмы в любом формализме, и
    из этого тезиса следует, что все компьютеры (независимо от мощности, архитектуры и т.д.)
    эквивалентны с точки зрения принципиальной возможности решения алгоритмических
    задач.</p>
<h3>Алгоритмически неразрешимые проблемы</h3>
<p>За время своего существования человечество придумало множество алгоритмов для решения
    разнообразных практических и научных проблем. Зададимся вопросом – а существуют ли
    какие-нибудь проблемы, для которых невозможно придумать алгоритмы их решения?</p>
<p>Утверждение о существовании алгоритмически неразрешимых проблем является весьма сильным –
    мы констатируем, что мы не только сейчас на знаем соответствующего алгоритма, но мы не
    можем принципиально никогда его найти.</p>
<p>Успехи математики к концу XIX века привели к формированию мнения, которое выразил Д.
    Гильберт – «в математике не может быть неразрешимых проблем», в связи с этим
    формулировка проблем Гильбертом на конгрессе 1900 года в Париже была руководством к
    действию, констатацией отсутствия решений в данный момент.</p>
<p>Первой фундаментальной теоретической работой, связанной с доказательством алгоритмической
    неразрешимости, была работа Курта Гёделя – его известная теорема о неполноте
    символических логик. Это была строго формулированная математическая проблема, для
    которой не существует решающего ее алгоритма. Усилиями различных исследователей список
    алгоритмически неразрешимых проблем был значительно расширен. Сегодня принято при
    доказательстве алгоритмической неразрешимости некоторой задачи сводить ее к ставшей
    классической задаче – «задаче останова».</p>
<p>Имеет место быть следующая теорема:</p>
<p><b class="th">Теорема 3.1.</b> Не существует алгоритма (машины Тьюринга), позволяющего по
    описанию произвольного алгоритма и его исходных данных (и алго-ритм и данные заданы
    символами на ленте машины Тьюринга) определить, останавливается ли этот алгоритм на этих
    данных или работает бесконечно.</p>
<p>Таким образом, фундаментально алгоритмическая неразрешимость связана с бесконечностью
    выполняемых алгоритмом действий, т.е. невозможностью предсказать, что для любых исходных
    данных решение будет получено за конечное количество шагов.</p>
<p>Тем не менее, можно попытаться сформулировать причины, ведущие к алгоритмической
    неразрешимости, эти причины достаточно условны, так как все они сводимы к проблеме
    останова, однако такой подход позволяет более глубоко понять природу алгоритмической
    неразрешимости:</p>
<p><i>а) Отсутствие общего метода решения задачи</i></p>
<p><b>Проблема 1</b>: Распределение девяток в записи числа <img border=0 class="i"
                                                                src="./img/pi.gif"/>;</p>
<p>Определим функцию f(n) = i, где n – количество девяток подряд в десятичной записи числа
    <img border=0 class="i" src="./img/pi.gif"/>, а i – номер самой левой девятки из n
    девяток подряд: <img border=0 class="i" src="./img/pi.gif"/>=3,141592… f(1) = 5.</p>
<p>Задача состоит в вычислении функции f(n) для произвольно заданного n.</p>
<p>Поскольку число <img border=0 class="i" src="./img/pi.gif"/> является иррациональным и
    трансцендентным, то мы не знаем никакой информации о распределении девяток (равно как и
    любых других цифр) в десятичной записи числа <img border=0 class="i"
                                                      src="./img/pi.gif"/>. Вычисление f(n)
    связано с вычислением последующих цифр в разложении <img border=0 class="i"
                                                             src="./img/pi.gif"/>, до тех
    пор, пока мы не обнаружим n девяток подряд, однако у нас нет общего метода вычисления
    f(n), поэтому для некоторых n вычисления могут продолжаться бесконечно – мы даже не
    знаем в принципе (по природе числа <img border=0 class="i" src="./img/pi.gif"/>)
    существует ли решение для всех n.</p>
<p><b>Проблема 2</b>: Вычисление совершенных чисел;</p>
<p>Совершенные числа – это числа, которые равны сумме своих делителей, например: 28 =
    1+2+4+7+14.</p>
<p>Определим функцию S(n) = n-ое по счёту совершенное число и поставим задачу вычисления
    S(n) по произвольно заданному n. Нет общего метода вы-числения совершенных чисел, мы
    даже не знаем, множество совершенных чи-сел конечно или счетно, поэтому наш алгоритм
    должен перебирать все числа подряд, проверяя их на совершенность. Отсутствие общего
    метода решения не позволяет ответить на вопрос о останове алгоритма. Если мы проверили М
    чи-сел при поиске n-ого совершенного числа – означает ли это, что его вообще не
    существует?</p>
<p><b>Проблема 3</b>: Десятая проблема Гильберта;</p>
<p>Пусть задан многочлен n-ой степени с целыми коэффициентами – P, су-ществует ли алгоритм,
    который определяет, имеет ли уравнение P=0 решение в целых числах?</p>
<p>Ю.В. Матиясевич показал, что такого алгоритма не существует, т.е. отсутствует общий метод
    определения целых корней уравнения P=0 по его целочисленным коэффициентам.</p>
<p><i>б) Информационная неопределенность задачи</i></p>
<p><b>Проблема 4</b>: Позиционирование машины Поста на последний помеченный ящик;</p>
<p>Пусть на ленте машины Поста заданы наборы помеченных ящиков (кортежи) произвольной длины
    с произвольными расстояниями между кортежами и головка находится у самого левого
    помеченного ящика. Задача состоит установке головки на самый правый помеченный ящик
    последнего кортежа.</p>
<p>Попытка построения алгоритма, решающего эту задачу приводит к необходимости ответа на
    вопрос – когда после обнаружения конца кортежа мы сдвинулись вправо по пустым ящикам на
    М позиций и не обнаружили начало следующего кортежа – больше на ленте кортежей нет или
    они есть где-то правее? Информационная неопределенность задачи состоит в отсутствии
    информации либо о количестве кортежей на ленте, либо о максимальном расстоянии между
    кортежами – при наличии такой информации (при разрешении инфор-мационной
    неопределенности) задача становится алгоритмически разрешимой.</p>
<p><i>в) Логическая неразрешимость (в смысле теоремы Гёделя о неполноте)</i></p>
<p><b>Проблема 5</b>: Проблема «останова» (см. теорема 3.1);</p>
<p><b>Проблема 6</b>: Проблема эквивалентности алгоритмов;</p>
<p>По двум произвольным заданным алгоритмам (например, по двум машинам Тьюринга) определить,
    будут ли они выдавать одинаковые выходные результаты на любых исходных данных.</p>
<p><b>Проблема 7</b>: Проблема тотальности;</p>
<p>По произвольному заданному алгоритму определить, будет ли он останавливаться на всех
    возможных наборах исходных данных. Другая формулировка этой задачи – является ли
    частичный алгоритм Р всюду определённым?</p>
<h3>Проблема соответствий Поста над алфавитом <img border=0 class="i"
                                                   src="./img/summa.gif"/></h3>
<p>В качестве более подробного примера алгоритмически неразрешимой задачи рассмотрим
    проблему соответствий Поста (Э. Пост, 1943 г.). Мы выделили эту задачу, поскольку на
    первый взгляд она выглядит достаточно «алгоритмизуемой», однако она сводима к проблеме
    останова и является алго-ритмически неразрешимой.</p>
<p><i>Постановка задачи:</i></p>
<p>Пусть дан алфавит <img border=0 class="i" src="./img/summa.gif"/>: |<img border=0
                                                                            class="i"
                                                                            src="./img/summa.gif"/>|
    >= 2 (для односимвольного алфавита задача имеет решение) и дано конечное множество пар
    из <img border=0 class="i" src="./img/summaplus.gif"/>х <img border=0 class="i"
                                                                 src="./img/summaplus.gif"/>
    , т.е. пары непустых цепочек произвольного языка над алфавитом <img border=0 class="i"
                                                                        src="./img/summa.gif"/>:
    <img border=0 class="i" src="./img/x1y1.gif"/>, ……, <img border=0 class="i"
                                                             src="./img/xmym.gif"/>.</p>
<p><b>Проблема</b>: Выяснить существует ли конечная последовательность этих пар, не
    обязательно различных, такая что цепочка, составленная из левых подцепочек, совпадает с
    последовательностью правых подцепочек – такая последовательность называется решающей.
</p>
<p>В качестве примера рассмотрим <img border=0 class="i" src="./img/summa.gif"/> = {a,b}</p>
<p><i>1. Входные цепочки: (abbb, b), (a, aab), (ba, b)</i></p>
<p>Решающая последовательность для этой задачи имеет вид:</p>
<p><i>(a,aab) (a,aab) (ba,b) (abbb,b), так как : a a ba abbb <img border=0 class="i"
                                                                  src="./img/ravenstvo.gif"/>
    aab aab b b</i></p>
<p>2. Входные цепочки: (ab,aba), (aba,baa), (baa,aa)</p>
<p>Данная задача вообще не имеет решения, так как нельзя начинать с пары <i>(aba,baa)</i>
    или <i>(baa,aa)</i>, поскольку не совпадают начальные символы подцепочек, но если
    начинать с цепочки <i>(ab,aba)</i>, то в последующем не будет совпадать общее количество
    символов «а», т.к. в других двух парах количество символов «а» одинаково.</p>
<p>В общем случае мы можем построить частичный алгоритм, основанный на идее упорядоченной
    генерации возможных последовательностей цепочек (отметим, что мы имеем счетное множество
    таких последовательностей) с проверкой выполнения условий задачи. Если
    последовательность является решающей – то мы получаем результативный ответ за конечное
    количество шагов. Поскольку общий метод определения отсутствия решающей
    последовательности не может быть указан, т.к. задача сводима к проблеме «останова» и,
    следовательно, является алгоритмически неразрешимой, то при отсутствии решающей
    последовательности алгоритм порождает бесконечный цикл.</p>
<p>В теории алгоритмов такого рода проблемы, для которых может быть предложен частичный
    алгоритм их решения, частичный в том смысле, что он возможно, но не обязательно, за
    конечное количество шагов находит решение проблемы, называются <i>частично разрешимыми
        проблемами</i>.</p>
<p>В частности, проблема останова так же является частично разрешимой проблемой, а проблемы
    эквивалентности и тотальности не являются таковыми.</p>


