<h2>Введение в анализ алгоритмов</h2>

<h3>Сравнительные оценки алгоритмов</h3>
<p>При использовании алгоритмов для решения практических задач мы сталкиваемся с проблемой
    рационального выбора алгоритма решения задачи. Решение проблемы выбора связано с построением
    системы сравнительных оценок, которая в свою очередь существенно опирается на формальную модель
    алгоритма.</p>
<p>Будем рассматривать в дальнейшем, придерживаясь определений Поста, применимые к общей проблеме,
    правильные и финитные алгоритмы, т.е. алго-ритмы, дающие <i>1-решение</i> общей проблемы. В
    качестве формальной системы будем рассматривать абстрактную машину, включающую процессор с
    фонНеймановской архитектурой, поддерживающий адресную память и набор «элементарных» операций
    соотнесенных с языком высокого уровня.</p>
<ul class="spisok">
    <b class="zagolovok_spiska">В целях дальнейшего анализа примем следующие допущения:</b>
    <li><p>каждая команда выполняется не более чем за фиксированное время;</p>
    <li><p>исходные данные алгоритма представляются машинными словами по <img border=0 class="i"
                                                                              src="./img/beta.gif"/>
        битов каждое.</p>
</ul>
<p>Конкретная проблема задается N словами памяти, таким образом, на входе алгоритма – <img border=0
                                                                                           class="i"
                                                                                           src="./img/nbeta.gif"/>
    = N*<img border=0 class="i" src="./img/beta.gif"/> бит информации. Отметим, что в ряде случаев,
    особенно при рассмотрении матричных задач N является мерой длины входа алгоритма, отражающей
    линейную размерность.</p>
<p>Программа, реализующая алгоритм для решения общей проблемы состоит из М машинных инструкций по
    <img border=0 class="i" src="./img/betam.gif"/> битов – <img border=0 class="i"
                                                                 src="./img/mbeta.gif"/> = М*<img
            border=0 class="i" src="./img/betam.gif"/> бит информации.</p>
<ul class="spisok">
    <b class="zagolovok_spiska">Кроме того, алгоритм может требовать следующих дополнительных
        ресурсов абстрактной машины:</b>
    <li><p><img border=0 class="i" src="./img/sd.gif"/> – память для хранения промежуточных
        результатов;</p>
    <li><p><img border=0 class="i" src="./img/sr.gif"/> – память для организации вычислительного
        процесса (память, необходимая для реализации рекурсивных вызовов и возвратов).</p>
</ul>
<p>При решении конкретной проблемы, заданной N словами памяти алгоритм выполняет не более, чем
    конечное количество «элементарных» операций абстрактной машины в силу условия рассмотрения
    только финитных алгоритмов. В связи с этим введем следующее определение:</p>
<p><b class="def">Определение 4.1.</b> <i>Трудоёмкость алгоритма.</i></p>
<p>Под трудоёмкостью алгоритма для данного конкретного входа – <img border=0 class="i"
                                                                    src="./img/fa.gif"/>(N), будем
    понимать количество «элементарных» операций совершаемых алгоритмом для решения конкретной
    проблемы в данной формальной системе.</p>
<p>Комплексный анализ алгоритма может быть выполнен на основе комплексной оценки ресурсов формальной
    системы, требуемых алгоритмом для решения конкретных проблем. Очевидно, что для различных
    областей применения веса ресурсов будут различны, что приводит к следующей комплексной оценке
    алгоритма:</p>
<p><img border=0 class="i" src="./img/formula1.gif"/>, где <img border=0 class="i"
                                                                src="./img/ci.gif"/> – веса
    ресурсов.</p>
<h3>Система обозначений в анализе алгоритмов</h3>
<p>При более детальном анализе трудоемкости алгоритма оказывается, что не всегда количество
    элементарных операций, выполняемых алгоритмом на одном входе длины N, совпадает с количеством
    операций на другом входе такой же длины. Это приводит к необходимости введения специальных
    обозначений, отражающих поведение функции трудоемкости данного алгоритма на входных данных
    фиксированной длины.</p>
<p>Пусть <img border=0 class="i" src="./img/da.gif"/> – множество конкретных проблем данной задачи,
    заданное в формальной системе. Пусть D є <img border="0" class="i" src="./img/da.gif"/> –
    задание конкретной проблемы и |D| = N.</p>
<p>В общем случае существует собственное подмножество множества <img border=0 class="i"
                                                                     src="./img/da.gif"/>,
    включающее все конкретные проблемы, имеющие мощность N:</p>
<p>обозначим это подмножество через <img border=0 class="i" src="./img/dn.gif"/>: <img border=0
                                                                                       class="i"
                                                                                       src="./img/dn.gif"/>
    = {D є <img border="0" class="i" src="./img/dn.gif"/>,: |D| = N};</p>
<p>обозначим мощность множества <img border=0 class="i" src="./img/dn.gif"/> через <img border=0
                                                                                        class="i"
                                                                                        src="./img/mdn.gif"/>
    --> <img border="0" class="i" src="./img/mdn.gif"/> = |<img border=0 class="i"
                                                                src="./img/dn.gif"/> |.</p>

<ol>
    <b class="zagolovok_spiska">Тогда содержательно данный алгоритм, решая различные задачи
        размерности N, будет выполнять в каком-то случае наибольшее количество операций, а в
        каком-то случае наименьшее количество операций. Ведем следующие обозначения:</b>
    <li><p><img border=0 class="i" src="./img/fa_hud.gif"/>(N) – <i>худший случай</i> – наибольшее
        количество операций, совершаемых алгоритмом А для решения конкретных проблем размерностью N:
    </p>
        <p><img border=0 class="i" src="./img/formula2.gif"/> - худший случай на <img border=0
                                                                                      class="i"
                                                                                      src="./img/dn.gif"/>
        </p>
    <li><p><img border=0 class="i" src="./img/fa_lud.gif"/>(N) – <i>лучший случай</i> – наименьшее
        количество операций, совершаемых алгоритмом А для решения конкретных проблем размерностью N:
    </p>
        <p><img border=0 class="i" src="./img/formula3.gif"/> – лучший случай на <img border=0
                                                                                      class="i"
                                                                                      src="./img/dn.gif"/>
        </p>
    <li><p><img border=0 class="i" src="./img/fa_sred.gif"/>(N) – средний случай – среднее
        количество операций, совершаемых алгоритмом А для решения конкретных проблем размерностью N:
    </p>
        <p><img border=0 class="i" src="./img/formula4.gif"/> – средний случай на <img border=0
                                                                                       class="i"
                                                                                       src="./img/dn.gif"/>
        </p>
</ol>
<h3>Классификация алгоритмов по виду функции трудоёмкости</h3>
<p>В зависимости от влияния исходных данных на функцию трудоемкости алгоритма может быть предложена
    следующая классификация, имеющая практическое значение для анализа алгоритмов:</p>
<p><i>1.Количественно-зависимые по трудоемкости алгоритмы</i></p>
<p>Это алгоритмы, функция трудоемкости которых зависит только от размерности конкретного входа, и не
    зависит от конкретных значений:</p>
<p><img border=0 class="i" src="./img/fa.gif"/>(D) = <img border=0 class="i" src="./img/fa.gif"/>(|D|)
    = <img border=0 class="i" src="./img/fa.gif"/>(N)</p>
<p>Примерами алгоритмов с количественно-зависимой функцией трудоемкости могут служить алгоритмы для
    стандартных операций с массивами и матрицами – умножение матриц, умножение матрицы на вектор и
    т.д.</p>
<p><i>2.Параметрически-зависимые по трудоемкости алгоритмы</i></p>
<p>Это алгоритмы, трудоемкость которых определяется не размерностью входа (как правило, для этой
    группы размерность входа обычно фиксирована), а конкретными значениями обрабатываемых слов
    памяти:</p>
<p><img border=0 class="i" src="./img/fa.gif"/>(D) = <img border=0 class="i" src="./img/fa.gif"/>
    (<img border=0 class="i" src="./img/d1.gif"/>,…,<img border=0 class="i" src="./img/d_n.gif"/>) =
    <img border=0 class="i" src="./img/fa.gif"/>(<img border=0 class="i" src="./img/p1.gif"/>,…,<img
            border=0 class="i" src="./img/pm.gif"/>), m =< n</p>
<p>Примерами алгоритмов с параметрически-зависимой трудоемкостью являются алгоритмы вычисления
    стандартных функций с заданной точностью путем вычисления соответствующих степенных рядов.
    Очевидно, что такие алгоритмы, имея на входе два числовых значения – аргумент функции и точность
    выполняют существенно зависящее от значений количество операций.</p>
<p>а) Вычисление <img border=0 class="i" src="./img/xk.gif"/> последовательным умножением <img
        border=0 class="i" src="./img/sleduet.gif"/> <img border=0 class="i" src="./img/fa.gif"/>(x,
    k) = <img border=0 class="i" src="./img/fa.gif"/>(k).</p>
<p>б) Вычисление <img border=0 class="i" src="./img/ex.gif"/> = <img border=0 class="i"
                                                                     src="./img/summa.gif"/>(<img
        border=0 class="i" src="./img/xn.gif"/>/n!), с точностью до <img border=0 class="i"
                                                                         src="./img/ksi.gif"/> <img
        border=0 class="i" src="./img/sleduet.gif"/> <img border=0 class="i" src="./img/fa.gif"/> =
    <img border=0 class="i" src="./img/fa.gif"/>(x, <img border=0 class="i" src="./img/ksi.gif"/>)
</p>
<p><i>3. Количественно-параметрические по трудоемкости алгоритмы</i></p>
<p>Однако в большинстве практических случаев функция трудоемкости зависит как от количества данных
    на входе, так и от значений входных данных, в этом случае:</p>
<p><img border=0 class="i" src="./img/fa.gif"/>(D) = <img border=0 class="i" src="./img/fa.gif"/>(||D||,
    <img border=0 class="i" src="./img/p1.gif"/>,…,<img border=0 class="i" src="./img/pm.gif"/>) =
    <img border=0 class="i" src="./img/fa.gif"/> (N, <img border=0 class="i" src="./img/p1.gif"/>,…,<img
            border=0 class="i" src="./img/pm.gif"/>)</p>
<p>В качестве примера можно привести алгоритмы численных методов, в которых параметрически-зависимый
    внешний цикл по точности включает в себя количественно-зависимый фрагмент по размерности.</p>
<p><i>3.1 Порядково-зависимые по трудоемкости алгоритмы</i></p>
<p>Среди разнообразия параметрически-зависимых алгоритмов выделим еще оду группу, для которой
    количество операций зависит от порядка распо-ложения исходных объектов.</p>
<p>Пусть множество D состоит из элементов (<img border=0 class="i" src="./img/d1.gif"/>,…,<img
        border=0 class="i" src="./img/d_n.gif"/>), и ||D||=N,</p>
<p>Определим <img border=0 class="i" src="./img/dp.gif"/>= {(<img border=0 class="i"
                                                                  src="./img/d1.gif"/>,…,<img
        border=0 class="i" src="./img/d_n.gif"/>)}-множество всех упорядоченных N-ок из <img
        border=0 class="i" src="./img/d1.gif"/>,…,<img border=0 class="i" src="./img/d_n.gif"/>,
    отметим, что |<img border=0 class="i" src="./img/dp.gif"/>|=n!.</p>
<p>Если <img border=0 class="i" src="./img/fa.gif"/>(i<img border=0 class="i" src="./img/dp.gif"/>)
    <img border=0 class="i" src="./img/neravno.gif"/> <img border=0 class="i" src="./img/fa.gif"/>(j<img
            border=0 class="i" src="./img/dp.gif"/>), где i<img border=0 class="i"
                                                                src="./img/dp.gif"/>, j<img border=0
                                                                                            class="i"
                                                                                            src="./img/dp.gif"/>
    є <img border=0 class="i" src="./img/dp.gif"/>, то алгоритм будем называть порядково-зависимым
    по трудоемкости.</p>
<p>Примерами таких алгоритмов могут служить ряд алгоритмов сортировки, алгоритмы поиска минимума и
    максимума в массиве. Рассмотрим более подробно алгоритм поиска максимума в массиве S, содержащим
    n элементов:</p>

<table border="0" align="center">
    <tr>
        <td><img border="0" class="i" src="./img/img1.gif"/></td>
        <td><p>(количество выполненных операций присваивания зависит от порядка следования элементов
            массива)</p></td>
    </tr>
</table>
<h3>Асимптотический анализ функций</h3>
<p>При анализе поведения функции трудоемкости алгоритма часто используют принятые в математике
    асимптотические обозначения, позволяющие по-казать скорость роста функции, маскируя при этом
    конкретные коэффициенты.</p>
<p>Такая оценка функции трудоемкости алгоритма называется <i>сложностью алгоритма</i> и позволяет
    определить предпочтения в использовании того или иного алгоритма для больших значений
    размерности исходных данных.</p>
<p>В асимптотическом анализе приняты следующие обозначения:</p>
<p><b>1. Оценка <img border=0 class="i" src="./img/tetta.gif"/> (тетта)</b></p>
<p>Пусть f(n) и g(n) – положительные функции положительного аргумента, n >= 1 (количество объектов
    на входе и количество операций – положительные числа), тогда:</p>

<table border="0" align="center">
    <tr>
        <td><img border=0 class="i" src="./img/img2.gif"/></td>
        <td><p>f(n) = <img border=0 class="i" src="./img/tetta.gif"/>(g(n)), если существуют
            положительные с1, с2, n0, такие, что:<br/>с1 * g(n) =< f(n) =< c2 * g(n), <br/>при n >
            n0</p></td>
    </tr>
</table>
<p>Обычно говорят, что при этом функция g(n) является асимптотически точной оценкой функции f(n),
    т.к. по определению функция f(n) не отличается от функции g(n) с точностью до постоянного
    множителя. </p>
<p>Отметим, что из f(n) = <img border=0 class="i" src="./img/tetta.gif"/>(g(n)) следует, что g(n) =
    <img border=0 class="i" src="./img/tetta.gif"/>(f(n)).</p>
<p>Примеры:</p>
<p>1) f(n)=4<img border=0 class="i" src="./img/n2.gif"/>+nlnN+174 – f(n)= <img border=0 class="i"
                                                                               src="./img/tetta.gif"/>(<img
        border=0 class="i" src="./img/n2.gif"/>);</p>
<p>2) f(n)=<img border=0 class="i" src="./img/tetta.gif"/>(1) – запись означает, что f(n) или равна
    константе, не равной нулю, или f(n) ограничена константой на <img border=0 class="i"
                                                                      src="./img/beskonechnost.gif"/>
    : f(n) = 7+1/n = <img border=0 class="i" src="./img/tetta.gif"/>(1).</p>
<p><b>2. Оценка О (О большое)</b></p>
<p>В отличие от оценки <img border=0 class="i" src="./img/tetta.gif"/>, оценка О требует только, что
    бы функция f(n) не превышала g(n) начиная с n > n0, с точностью до постоянного множителя:</p>

<table border=0 align=center>
    <tr>
        <td><img border=0 class="i" src="./img/img3.gif"/></td>
        <td><p><img border=0 class="i" src="./img/kv_s.gif"/> c > 0, n0 > 0 :
            0 =< f(n) =< c * g(n), <img border=0 class="i" src="./img/kv_v.gif"/>n > n0</p></td>
    </tr>
</table>
<p>Вообще, запись O(g(n)) обозначает класс функций, таких, что все они растут не быстрее, чем
    функция g(n) с точностью до постоянного множителя, поэтому иногда говорят, что g(n) мажорирует
    функцию f(n).</p>
<p>Например, для всех функций:</p>
<p>f(n)=1/n, f(n)= 12, f(n)=3*n+17, f(n)=n*Ln(n), f(n)=6*<img border=0 class="i"
                                                              src="./img/n2.gif"/> +24*n+77 будет
    справедлива оценка О(<img border=0 class="i" src="./img/n2.gif"/>)</p>
<p>Указывая оценку О есть смысл указывать наиболее «близкую» мажорирующую функцию, поскольку
    например для f(n)= <img border=0 class="i" src="./img/n2.gif"/> справедлива оценка О(<img
            border=0 class="i" src="./img/n2.gif"/>), однако она не имеет практического смысла.</p>
<b>3. Оценка <img border=0 class="i" src="./img/omega.gif"/> (Омега)</b>
<p>В отличие от оценки О, оценка <img border=0 class="i" src="./img/omega.gif"/> является оценкой
    снизу – т.е. определяет класс функций, которые растут не медленнее, чем g(n) с точностью до
    постоянного множителя:</p>

<table border=0 align=center>
    <tr>
        <td><img border=0 class="i" src="./img/img4.gif"/></td>
        <td><p><img border=0 class="i" src="./img/kv_s.gif"/> c > 0, n0 >0 : 0 =< c * g(n) =< f(n)
        </p></td>
    </tr>
</table>
<p>Например, запись <img border=0 class="i" src="./img/omega.gif"/>(n*Ln(n)) обозначает класс
    функций, которые растут не медленнее, чем g(n) = n*Ln(n), в этот класс попадают все полиномы со
    степенью большей единицы, равно как и все степенные функции с основанием большим единицы.</p>
<p>Асимптотическое обозначение О восходит к учебнику Бахмана по теории простых чисел (Bachman,
    1892), обозначения <img border=0 class="i" src="./img/tetta.gif"/>, <img border=0 class="i"
                                                                             src="./img/omega.gif"/>
    введены Д. Кнутом (Donald Knuth).</p>
<p>Отметим, что не всегда для пары функций справедливо одно из асимптотических соотношений, например
    для f(n)= <img border=0 class="i" src="./img/formula5.gif"/> и g(n)=n не выполняется ни одно из
    асимптотических соотношений.</p>
<p>В асимптотическом анализе алгоритмов разработаны специальные методы получения асимптотических
    оценок, особенно для класса рекурсивных алгоритмов. Очевидно, что <img border=0 class="i"
                                                                           src="./img/tetta.gif"/>
    оценка является более прдпочтительной, чем оценка О. Знание асимптотики поведения функции
    трудоемкости алгоритма - его сложности, дает возможность делать прогнозы по выбору более
    рационального с точки зрения трудоемкости алгоритма для больших размерностей исходных данных.
</p>


