<h2>Трудоемкость алгоритмов и временные оценки</h2>
<h3>Элементарные операции в языке записи алгоритмов</h3>
<p>Для получения функции трудоемкости алгоритма, представленного в формальной системе введенной
    абстрактной машины необходимо уточнить понятия «элементарных» операций, соотнесенных с языком
    высокого уровня.</p>
<ol>
    <b class="zagolovok_spiska">В качестве таких «элементарных» операций предлагается использовать
        следующие:</b>
    <li><p>Простое присваивание: а <-- b;</p>
    <li><p>Одномерная индексация a[i] : (адрес (a)+i*длинна элемента);</p>
    <li><p>Арифметические операции: (*, /, -, +);</p>
    <li><p>Операции сравнения: a < b;</p>
    <li><p>Логические операции (l1) {or, and, not} (l2);</p>
</ol>
<p>Опираясь на идеи структурного программирования, исключим команду перехода по адресу, считая ее
    связанной с операцией сравнения в конструкции ветвления.</p>
<ol type="A">
    <b class="zagolovok_spiska">После введения элементарных операций анализ трудоемкости основных
        алгоритмических конструкций в общем виде сводится к следующим положениям:</b>
    <li><p><i>Конструкция «Следование»</i></p>

        <table border="0" align="center">
            <tr>
                <td><img border=0 class="i" src="./img/img5.gif"/></td>
                <td>Трудоемкость конструкции есть сумма трудоемкостей блоков, следующих друг за
                    другом.
                    <br/><img border=0 class="i" src="./img/formula6.gif"/>, где k – количество
                    блоков.
                </td>
            </tr>
        </table>

    <li><p><i>Конструкция «Ветвление»</i></p>

        <table border=0 align=center>
            <tr>
                <td>if( l ) then</td>
            </tr>
            <tr>
                <td><img border=0 class="i" src="./img/fthen.gif"/></td>
            </tr>
            <tr>
                <td>else</td>
            </tr>
            <tr>
                <td><img border=0 class="i" src="./img/felse.gif"/></td>
            </tr>
        </table>
        <p>Общая трудоемкость конструкции «Ветвление» требует анализа вероятности выполнения
            переходов на блоки «Then» и «Else» и определяется как:</p>
        <img border=0 class="i" src="./img/formula7.gif"/>
    <li><p><i>Конструкция «Цикл»</i></p>
        <table border="0" align="center">
            <tr>
                <td><img border="0" class="i" src="./img/img6.gif"/></td>
                <td><img border=0 class="i" src="./img/img7.gif"/></td>
            </tr>
        </table>
        <p>После сведения конструкции к элементарным операциям ее трудоемкость определяется как:</p>
        <img border=0 class="i" src="./img/formula8.gif"/>
</ol>
<h3>Примеры анализа простых алгоритмов</h3>
<p><i>Пример 1 Задача суммирования элементов квадратной матрицы</i></p>
<p>SumM (A, n; Sum)<br/>
    Sum <-- 0<br/>
    For i <-- 1 to n<br/>
    For j <-- 1 to n<br/>
    Sum <-- Sum + A[i,j]<br/>
    end for<br/>
    Return (Sum)<br/>
    End
</p>
<p>Алгоритм выполняет одинаковое количество операций при фиксированном значении n, и следовательно
    является количественно-зависимым. Применение методики анализа конструкции «Цикл » дает:</p>
<p><img border=0 class="i" src="./img/fa.gif"/>(n)=1+1+ n *(3+1+ n *(3+4))=7<img border=0 class="i"
                                                                                 src="./img/n2.gif"/>+4*
    n +2 = <img border=0 class="i" src="./img/tetta.gif"/>(<img border=0 class="i"
                                                                src="./img/n2.gif"/>) заметим, что
    под n понимается линейная размерность матрицы, в то время как на вход алгоритма подается <img
            border=0 class="i" src="./img/n2.gif"/> значений.</p>
<p><i>Пример 2 Задача поиска максимума в массиве</i></p>
<p>MaxS (S,n; Max)<br/>
    Max <-- S[1]<br/>
    For i <-- 2 to n<br/>
    if Max < S[i]<br/>
    then Max <-- S[i] <br/>
    end for<br/>
    return Max<br/>
    End</p>
<p>Данный алгоритм является количественно-параметрическим, поэтому для фиксированной размерности
    исходных данных необходимо проводить анализ для худшего, лучшего и среднего случая.</p>
<p>А). Худший случай</p>
<p>Максимальное количество переприсваиваний максимума (на каждом проходе цикла) будет в том случае,
    если элементы массива отсортированы по возрастанию. Трудоемкость алгоритма в этом случае
    равна:</p>
<p><img border=0 class="i" src="./img/fa_hud.gif"/>(n)=1+1+1+ (n-1) (3+2+2)=7 n - 4 = <img border=0
                                                                                           class="i"
                                                                                           src="./img/tetta.gif"/>(n).
</p>
<p>Б) Лучший случай</p>
<p>Минимальное количество переприсваивания максимума (ни одного на каждом проходе цикла) будет в том
    случае, если максимальный элемент расположен на первом месте в массиве. Трудоемкость алгоритма в
    этом случае равна:</p>
<p><img border=0 class="i" src="./img/fa_lud.gif"/>(n)=1+1+1+ (n-1) (3+2)=5 n - 2 = <img border=0
                                                                                         class="i"
                                                                                         src="./img/tetta.gif"/>(n).
</p>
<p>В) Средний случай</p>
<p>Алгоритм поиска максимума последовательно перебирает элементы массива, сравнивая текущий элемент
    массива с текущим значением максимума. На очередном шаге, когда просматривается к-ый элемент
    массива, переприсваивание максимума произойдет, если в подмассиве из первых к элементов
    максимальным элементом является последний. Очевидно, что в случае равномерного распределения
    исходных данных, вероятность того, что максимальный из к элементов расположен в определенной
    (последней) позиции равна 1/к. Тогда в массиве из n элементов общее количество операций
    переприсваивания максимума определяется как:</p>
<p><img border=0 class="i" src="./img/summan.gif"/><img border=0 class="i"
                                                        src="./img/formula9.gif"/></p>
<p>Величина Hn называется n-ым гармоническим числом. Таким образом, точное значение (математическое
    ожидание) среднего количества операций присваивания в алгоритме поиска максимума в массиве из n
    элементов определяется величиной Hn (на бесконечности количества испытаний), тогда:</p>
<p><img border=0 class="i" src="./img/fa_sred.gif"/>(n)=1 + (n-1) (3+2) + 2 (Ln(n) + <img border=0
                                                                                          class="i"
                                                                                          src="./img/gamma.gif"/>)=5
    n +2 Ln(n) - 4 +2 <img border=0 class="i" src="./img/gamma.gif"/> = <img border=0 class="i"
                                                                             src="./img/tetta.gif"/>(n).
</p>
<h3>Переход к временным оценкам</h3>
<p>Сравнение двух алгоритмов по их функции трудоемкости вносит некоторую ошибку в получаемые
    результаты. Основной причиной этой ошибки является различная частотная встречаемость
    элементарных операций, порождаемая разными алгоритмами и различие во временах выполнения
    элементарных операций на реальном процессоре. Таким образом, возникает задача перехода от
    функции трудоемкости к оценке времени работы алгоритма на конкретном процессоре:</p>
<p>Дано: <img border=0 class="i" src="./img/fa.gif"/>(<img border=0 class="i" src="./img/da.gif"/>)
    - трудоёмкость алгоритма требуется определить время работы программной реализации алгоритма –
    <img border=0 class="i" src="./img/ta.gif"/>(<img border=0 class="i" src="./img/da.gif"/>).</p>

<ul class="spisok">
    <b class="zagolovok_spiska">На пути построения временных оценок мы сталкиваемся с целым набором
        различных проблем, пофакторный учет которых вызывает существенные трудности. Укажем основные
        из этих проблем:</b>
    <li><p></p>
    <li><p>неадекватность формальной системы записи алгоритма и реальной системы команд
        процессора;</p>
    <li><p>наличие архитектурных особенностей существенно влияющих на наблюдаемое время выполнения
        программы, таких как конвейер, кеширование памяти, предвыборка команд и данных, и т.д.;</p>
    <li><p>различные времена выполнения реальных машинных команд;</p>
    <li><p>различие во времени выполнения одной команды, в зависимости от значений операндов</p>
    <li><p>различные времена реального выполнения однородных команд в зависимости от типов
        данных;</p>
    <li><p>неоднозначности компиляции исходного текста, обусловленные как самим компилятором, так и
        его настройками.</p>
</ul>
<p>Попытки различного подхода к учету этих факторов привели к появлению разнообразных методик
    перехода к временным оценкам.</p>
<p><i>1) Пооперационный анализ</i></p>
<p>Идея пооперационного анализа состоит в получении пооперационной функции трудоемкости для каждой
    из используемых алгоритмом элементарных операций с учетом типов данных. Следующим шагом является
    экспериментальное определение среднего времени выполнения данной элементарной операции на
    конкретной вычислительной машине. Ожидаемое время выполнения рассчитывается как сумма
    произведений пооперационной трудоемкости на средние времена операций:</p>
<img border=0 class="i" src="./img/formula10.gif"/>
<p><i>2) Метод Гиббсона</i></p>

<ul class="spisok">
    <b class="zagolovok_spiska">Метод предполагает проведение совокупного анализа по трудоемкости и
        переход к временным оценкам на основе принадлежности решаемой задачи к одному из следующих
        типов:</b>
    <li><p>задачи научно-технического характера с преобладанием операций с операндами
        действительного типа;</p>
    <li><p>задачи дискретной математики с преобладанием операций с операндами целого типа</p>
    <li><p>задачи баз данных с преобладанием операций с операндами строкового типа</p>
</ul>
<p>Далее на основе анализа множества реальных программ для решения соответствующих типов задач
    определяется частотная встречаемость операций (рис 5.1), создаются соответствующие тестовые
    программы, и определяется среднее время на операцию в данном типе задач –<img border=0 class="i"
                                                                                  src="./img/t_tipzadachi.gif"/>
</p>
<p><img align=center border=0 class="i" src="./img/img8.gif"/><br/>
    Рис 5.1 Возможный вид частотной встречаемости операций</p>
<p>На основе полученной информации оценивается общее время работы алгоритма в виде:</p>
<p><img border=0 class="i" src="./img/ta.gif"/>(N) = <img border=0 class="i" src="./img/fa.gif"/>(N)
    *<img border=0 class="i" src="./img/t_tipzadachi.gif"/></p>
<p><i>3) Метод прямого определения среднего времени</i></p>
<p>В этом методе так же проводится совокупный анализ по трудоемкости – определяется <img border=0
                                                                                         class="i"
                                                                                         src="./img/fa.gif"/>(N),
    после чего на основе прямого эксперимента для различных значений <img border=0 class="i"
                                                                          src="./img/ne.gif"/>
    определяется среднее время работы данной программы <img border=0 class="i" src="./img/te.gif"/>
    и на основе известной функции трудоемкости рассчитывается среднее время на обобщенную
    элементарную операцию, порождаемое данным алгоритмом, компилятором и компьютером – <img border=0
                                                                                            class="i"
                                                                                            src="./img/ta_sred.gif"/>.
    Эти данные могут быть (в предположении об устойчивости среднего времени по N) интерполированы
    или экстраполированы на другие значения размерности задачи следующим образом:</p>
<p><img border=0 class="i" src="./img/ta_sred.gif"/> = <img border=0 class="i" src="./img/te.gif"/>(<img
        border=0 class="i" src="./img/te.gif"/>) / <img border=0 class="i" src="./img/fa.gif"/>(<img
        border=0 class="i" src="./img/ne.gif"/>), T(N) = <img border=0 class="i"
                                                              src="./img/ta_sred.gif"/> * <img
        border=0 class="i" src="./img/fa.gif"/>(N).</p>
<h3>Пример пооперационного временного анализа</h3>
<p>В ряде случаев именно пооперационный анализ позволяет выявить тонкие аспекты рационального
    применения того или иного алгоритма решения задачи. В качестве примера рассмотрим задачу
    умножения двух комплексных чисел:</p>
<p>(a+bi)*(c+di)=(ac - bd) + i(ad + bc)=e + if</p>

<ol>
    <li><i>Алгоритм А1 (прямое вычисление e, f – четыре умножения)</i><br/>
        <img align="center" border="0" class="i" src="./img/img9.gif"/>
    <li><i>Алгоритм А2 (вычисление e, f за три умножения)</i><br/>
        <img align="center" border="0" class="i" src="./img/img10.gif"/>
</ol>

<p>Пооперационный анализ этих двух алгоритмов не представляет труда, и его результаты приведены
    справа от записи соответствующих алгоритмов.</p>
<p>По совокупному количеству элементарных операций алгоритм А2 уступает алгоритму А1, однако в
    реальных компьютерах операция умножения требует большего времени, чем операция сложения, и можно
    путем пооперацион-ного анализа ответить на вопрос: при каких условиях алгоритм А2
    предпочтительнее алгоритма А1?</p>
<p>Введем параметры q и r, устанавливающие соотношения между временами выполнения операции
    умножения, сложения и присваивания для операндов действительного типа.</p>
<p>Тогда мы можем привести временные оценки двух алгоритмов к времени выполнения операции
    сложения/вычитания – <img border=0 class="i" src="./img/tplus.gif"/>:</p>
<p><img border=0 class="i" src="./img/tumnozit.gif"/> = q*<img border=0 class="i"
                                                               src="./img/tplus.gif"/>, q>1;</p>
<p><img border=0 class="i" src="./img/tstrelka.gif"/>=r*<img border=0 class="i"
                                                             src="./img/tplus.gif"/>, r<1, тогда
    приведенные к <img border=0 class="i" src="./img/tplus.gif"/> временные оценки имеют вид:</p>
<p><img border=0 class="i" src="./img/ta1.gif"/> = 4*q*<img border=0 class="i"
                                                            src="./img/tplus.gif"/>+2*<img border=0
                                                                                           class="i"
                                                                                           src="./img/tplus.gif"/>+2*r*<img
        border=0 class="i" src="./img/tplus.gif"/>=<img border=0 class="i" src="./img/tplus.gif"/>*(4*q+2+2*r);
</p>
<p><img border=0 class="i" src="./img/ta2.gif"/> = 3*q*<img border=0 class="i"
                                                            src="./img/tplus.gif"/>+5*<img border=0
                                                                                           class="i"
                                                                                           src="./img/tplus.gif"/>+5*r*<img
        border=0 class="i" src="./img/tplus.gif"/>=<img border=0 class="i" src="./img/tplus.gif"/>*(3*q+5+5*r).
</p>
<p>Равенство времен будет достигнуто при условии:<br/>
    4*q+2+2*r = 3*q+5+5*r, откуда:<br/>
    q = 3 + 3r и следовательно при q > 3 + 3r алгоритм А2 будет работать более эффективно.</p>
<p>Таким образом, если среда реализации алгоритмов А1 и А2 – язык программирования, обслуживающий
    его компилятор и компьютер на котором реализуется задача – такова, что время выполнения операции
    умножения двух действительных чисел более чем втрое превышает время сложения двух действительных
    чисел, в предположении, что r << 1, а это реальное соотношение, то для реализации более
    предпочтителен алгоритм А2.</p>
<p>Конечно, выигрыш во времени пренебрежимо мал, если мы перемножаем только два комплексных числа,
    однако, если этот алгоритм является частью сложной вычислительной задачи с комплексными числами,
    требующей существенно значимого по времени количества умножений, то выигрыш во времени может
    быть ощутим. Оценка такого выигрыша на одно умножение комплексных чисел следует из только что
    проведенного анализа:</p>
<p><img border="0" class="i" src="./img/delta.gif"/>T = (q – 3 – 3*r)* <img border="0" class="i"
                                                                            src="./img/tplus.gif"/>
</p>