<h2>Теория сложности вычислений и сложностные классы задач</h2>
<hr class="tb">

<h3>Теоретический предел трудоемкости задачи</h3>

<p>Рассматривая некоторую алгоритмически разрешимую задачу, и анализируя один из алгоритмов ее
    решения, мы можем получить оценку трудоемкости этого алгоритма в худшем случае – fa(<img
            border=0 class="i" src="./img/da.gif"/>)=O(g(<img border=0 class="i"
                                                              src="./img/da.gif"/>)). Такие же
    оценки мы можем получить и для других известных алгоритмов решения данной задачи. Рассматривая
    задачу с этой точки зрения, возникает резонный вопрос – а существует ли функциональный нижний
    предел для g(<img border=0 class="i" src="./img/da.gif"/>) и если «да», то существует ли
    алгоритм, решающий задачу с такой трудоемкостью в худшем случае.</p>
<p>Другая, более точная формулировка, имеет следующий вид: какова оценка сложности самого «быстрого»
    алгоритма решения данной задачи в худшем случае? Очевидно, что это оценка самой задачи, а не
    какого либо алгоритма ее решения. Таким образом, мы приходим к определению понятия
    функционального теоретического нижнего предела трудоемкости задачи в худшем случае:</p>
<p><img border=0 class="i" src="./img/fthlim.gif"/>= min { <img border=0 class="i"
                                                                src="./img/tetta.gif"/> (<img
        border=0 class="i" src="./img/fa_hud.gif"/> (D)) }</p>
<p>Если мы можем на основе теоретических рассуждений доказать существование и получить оценивающую
    функцию, то мы можем утверждать, что любой алгоритм, решающий данную задачу работает не быстрее,
    чем с оценкой <img border=0 class="i" src="./img/fthlim.gif"/> в худшем случае:</p>
<p><img border=0 class="i" src="./img/fa_hud.gif"/> (D) = <img border=0 class="i"
                                                               src="./img/omega.gif"/> (<img
        border=0 class="i" src="./img/fthlim.gif"/>)</p>
<ol>
    <b class="zagolovok_spiska">Приведем ряд примеров:</b>
    <li><p>Задача поиска максимума в массиве A=(a1,…,an) – для этой задачи, очевидно должны быть
        просмотрены все элементы, и <img border=0 class="i" src="./img/fthlim.gif"/>=<img border=0
                                                                                          class="i"
                                                                                          src="./img/tetta.gif"/>
        (n).</p>
    <li><p>Задача умножения матриц - для этой задачи можно сделать предположение, что необходимо
        выполнить некоторые арифметические операции со всеми исходными данными, теоретическое
        обоснование какой–либо другой оценки на сегодня не известно, что приводит нас к оценке <img
                border=0 class="i" src="./img/fthlim.gif"/>=Q (<img border=0 class="i"
                                                                    src="./img/n2.gif"/>). Отметим,
        что лучший алгоритм умножения матриц имеет оценку Q (<img border=0 class="i"
                                                                  src="./img/n234.gif"/>).
        Расхождение между теоретическим пределом и оценкой лучшего известного алгоритма позволяет
        предположить, что либо существует, но еще не найден более быстрый алгоритм умножения матриц,
        либо оценка Q (<img border=0 class="i" src="./img/n234.gif"/>) должна быть доказана, как
        теоретический предел.</p>
</ol>
<h3>Сложностные классы задач</h3>
<p>В начале 1960-х годов, в связи с началом широкого использования вычислительной техники для
    решения практических задач, возник вопрос о границах практической применимости данного алгоритма
    решения задачи в смысле ограничений на ее размерность. Какие задачи могут быть решены на ЭВМ за
    реальное время?</p>
<p>Ответ на этот вопрос был дан в работах Кобмена (Alan Cobham, 1964), и Эдмнодса (Jack Edmonds,
    1965), где были введены сложностные классы задач.</p>
<p><i>1) Класс P (задачи с полиномиальной сложностью)</i></p>
<p>Задача называется полиномиальной, т.е. относится к классу P, если существует константа k и
    алгоритм, решающий задачу с <img border=0 class="i" src="./img/fa.gif"/>(n)=O(<img border=0
                                                                                       class="i"
                                                                                       src="./img/nk.gif"/>),
    где n - длина входа алгоритма в битах n = |D| [6].</p>
<p>Задачи класса P – это интуитивно, задачи, решаемые за реальное время. </p>

<ul class="spisok">
    <b class="zagolovok_spiska">Отметим следующие преимущества алгоритмов из этого класса:</b>
    <li><p>для большинства задач из класса P константа k меньше 6;</p>
    <li><p>класс P инвариантен по модели вычислений (для широкого класса моделей);</p>
    <li><p>класс P обладает свойством естественной замкнутости (сумма или произведение полиномов
        есть полином).</p>
</ul>
<p>Таким образом, задачи класса P есть уточнение определения «практически разрешимой» задачи.</p>
<p><i>2) Класс NP (полиномиально проверяемые задачи)</i></p>
<p>Представим себе, что некоторый алгоритм получает решение некоторой задачи – соответствует ли
    полученный ответ поставленной задаче, и насколько быстро мы можем проверить его
    правильность?</p>
<p>Рассмотрим, например задачу о сумме:</p>
<p>Дано N чисел – А = (a1,…an) и число V.</p>
<p>Задача: Найти вектор (массив) X=(x1,…,xn), xiє{0,1}, такой, что <img border=0 class="i"
                                                                        src="./img/summa.gif"/>aixi
    = V.</p>
<p>Содержательно: может ли быть представлено число V в виде суммы каких-либо элементов массива
    А.</p>
<p>Если какой-то алгоритм выдает результат – массив X, то проверка правильности этого результата
    может быть выполнена с полиномиальной сложно-стью: проверка <img border=0 class="i"
                                                                     src="./img/summa.gif"/> aixi =
    V требует не более Q (N) операций.</p>
<p>Формально:<img border=0 class="i" src="./img/kv_v.gif"/> Dє<img border=0 class="i"
                                                                   src="./img/da.gif"/>, |D|=n
    поставим в соответствие сертификат Sє<img border=0 class="i" src="./img/sa.gif"/> , такой что
    |S|=O (<img border=0 class="i" src="./img/nl.gif"/>) и алгоритм <img border=0 class="i"
                                                                         src="./img/as.gif"/> = <img
            border=0 class="i" src="./img/as.gif"/> (D,S), такой, что он выдает «1», если решение
    правильно, и «0», если решение неверно. Тогда задача принадлежит классу NP, если F ( <img
            border=0 class="i" src="./img/as.gif"/> )=O ( <img border=0 class="i"
                                                               src="./img/nm.gif"/>).</p>
<p>Содержательно задача относится к классу NP, если ее решение некоторым алгоритмом может быть
    быстро (полиномиально) проверено.</p>
<h3>Проблема P = NP</h3>
<p>После введения в теорию алгоритмов понятий сложностных классов Эдмондсом (Edmonds, 1965) была
    поставлена основная проблема теории сложности – P = NP ? Словесная формулировка проблемы имеет
    вид: можно ли все задачи, решение которых проверяется с полиномиальной сложностью, решить за
    полиномиальное время ?</p>
<p>Очевидно, что любая задача, принадлежащая классу P, принадлежит и классу NP, т.к. она может быть
    полиномиально проверена – задача проверки решения может состоять просто в повторном решении
    задачи.</p>
<p>На сегодня отсутствуют теоретические доказательства как совпадения этих классов (P=NP), так и их
    несовпадения. Предположение состоит в том, что класс P является собственным подмножеством класса
    NP, т.е. NP \ P не пусто – рис 6.1</p>
<p><img border=0 class="i" src="./img/img11.gif"/></p>
<h3>Класс NPC (NP – полные задачи)</h3>
<p>Понятие NP – полноты было введено независимо Куком (Stephen Cook, 1971) и Левиным (журнал
    «Проблемы передачи информации», 1973,т.9, вып. 3) и основывается на понятии сводимости одной
    задачи к другой.</p>
<p>Сводимость может быть представлена следующим образом: если мы имеем задачу 1 и решающий эту
    задачу алгоритм, выдающий правильный ответ для всех конкретных проблем, составляющих задачу, а
    для задачи 2 алгоритм решения неизвестен, то если мы можем переформулировать (свести) задачу 2 в
    терминах задачи 1, то мы решаем задачу 2.</p>
<p>Таким образом, если задача 1 задана множеством конкретных проблем <img border=0 class="i"
                                                                          src="./img/da_1.gif"/> , а
    задача 2 – множеством, и существует функция <img border=0 class="i" src="./img/fs.gif"/>
    (алгоритм), сводящая конкретную постановку задачи 2 ( <img border=0 class="i"
                                                               src="./img/da2.gif"/>) к конкретной
    постановке задачи 1(<img border=0 class="i" src="./img/da1.gif"/>): <img border=0 class="i"
                                                                             src="./img/formula11.gif"/>,
    то задача 2 сводима к задаче 1.</p>
<p>Если при этом <img border=0 class="i" src="./img/fa.gif"/>(<img border=0 class="i"
                                                                   src="./img/fs.gif"/>) = O(<img
        border=0 class="i" src="./img/nk.gif"/>), т.е. алгоритм сведения принадлежит классу P, то
    говорят, что <i>задача 1 полиномиально сводится к задаче 2.</i></p>
<p>Принято говорить, что задача задается некоторым языком, тогда если задача 1 задана языком L1, а
    задача 2 – языком L2, то полиномиальная сводимость обозначается следующим образом: L2 =<
    pL1.</p>
<p>Определение класса NPC (NP-complete) или класса NP-полных задач требует выполнения следующих двух
    условий: во-первых, задача должна принадлежать классу NP (L є NP), и, во-вторых, к ней
    полиномиально должны сводиться все задачи из класса NP (Lx=< pL, для каждого Lx є NP), что
    схематично представлено на рис 6.2.</p>
<img border=0 align="center" class="i" src="./img/img12.gif"/>
<p>Для класса NPC доказана следующая теорема: Если существует задача, принадлежащая классу NPC, для
    которой существует полиномиальный алгоритм решения (F = O(<img border=0 class="i"
                                                                   src="./img/nk.gif"/>)), то класс
    P совпадает с классом NP, т.е. P=NP.</p>
<p>Схема доказательства состоит в сведении любой задачи из NP к данной задаче из класса NPC с
    полиномиальной трудоемкостью и решении этой задачи за полиномиальное время (по условию
    теоремы).</p>
<p>В настоящее время доказано существование сотен NP–полных задач, но ни для одной из них пока не
    удалось найти полиномиального алгоритма решения. В настоящее время исследователи предполагают
    следующее соотношение классов, показанное на рис 6.3 – P <img border=0 class="i"
                                                                  src="./img/neravno.gif"/> NP, то
    есть NP \ P <img border=0 class="i" src="./img/neravno.gif"/> 0, и задачи из класса NPC не могут
    быть решены (сегодня) с полиномиальной трудоемкостью.</p>
<img border=0 class="i" src="./img/img13.gif"/>
<h3>Примеры NP – полных задач</h3>
<p><i>1 Задача о выполнимости схемы</i></p>
<p>Рассмотрим схему из функциональных элементов «и», «или», «не» с n битовыми входами и одним
    выходом, состоящую не более, чем из O(<img border=0 class="i" src="./img/nk.gif"/>) элементов –
    рис 6.4</p>
<img border=0 class="i" src="./img/img14.gif"/>
<p>Будем понимать под выполняющим набором значений из множества {0,1} на входе схемы, такой набор
    входов – значения x1,…,xn, при котором на выходе схемы будет значение «1».</p>
<p>Формулировка задачи – существует ли для данной схемы выполняющий набор значений входа. Очевидно,
    что задача принадлежит классу NP – проверка предъявленного выполняющего набора не сложнее
    количества функциональных элементов, и следовательно не больше чем O(<img border=0 class="i"
                                                                              src="./img/nk.gif"/>).
</p>
<p>Это была одна из первых задач, для которой была доказана ее NP полнота, т.е. любая задача из
    класса NP полиномиально сводима к задаче о выполнимости схемы.</p>
<p>Решение этой задачи может быть получено перебором всех <img border=0 class="i"
                                                               src="./img/nk.gif"/> возможных
    значений входа с последующей проверкой на соответствие условию выполняющего набора. В худшем
    случае придется проверить все возможные значения входа, что приводит к оценке <img border=0
                                                                                       class="i"
                                                                                       src="./img/formula12.gif"/>
    Для этой, как и для всех других NP–полных задач не известен полиномиальный алгоритм решения.</p>
<p><i>2 Задача о сумме</i></p>
<p>Уже рассмотренная задача о сумме также является NP–полной, отметим, что если количество слагаемых
    фиксировано, то сложность задачи является полиномиальной, так как:</p>

<ul class="spisok">
    <li><p>для 2-х слагаемых <img border=0 class="i" src="./img/formula13.gif"/></p>
    <li><p>для 3-х слагаемых <img border=0 class="i" src="./img/formula14.gif"/></p>
</ul>
<p>Однако в общем случае придется перебирать <img border=0 class="i" src="./img/2n.gif"/> различных
    вариантов, так как по биномиальной теореме <img border=0 class="i" src="./img/formula15.gif"/>,
    а при a=b=1, имеем: <img border=0 class="i" src="./img/formula16.gif"/></p>
<p><i>3 Задача о клике</i></p>
<p>Пусть дан граф G = G(V,E), где V – множество из n вершин, а E – множество ребер. Будем понимать
    под кликой максимальный по количеству вершин полный подграф в графе в G.</p>
<p><i>Задача состоит в определении клики в заданном графе G</i></p>
<p>Поскольку в полном графе на m вершинах имеется m(m-1)/2 ребер, то проверка, является ли данный
    граф полным, имеет сложность O (<img border=0 class="i" src="./img/m2.gif"/>). Очевидно, что
    если мы рассматриваем подграф с m вершинами в графе G с вершинами (m < n), то всего существует
    <img border=0 class="i" src="./img/cnm.gif"/> различных подграфов. Если в задаче о клике
    количество вершин клики фиксировано, то перебирающий алгоритм имеет полиномиальную сложность:
</p>
<p><img border=0 class="i" src="./img/formula17.gif"/></p>
<p>Однако в общем случае придется проверять все подграфы с количеством вершин m = (2, n) на их
    полноту и определить максимальное значения m для которого в данном графе G существует полный
    подграф, что приводит к оценке в худшем случае:</p>
<p><img border=0 class="i" src="./img/formula18.gif"/></p>

