<h2>Пример полного анализа алгоритма решения задачи о сумме</h2>
<hr class="tb">

<h3>Формулировка задачи и асимптотическая оценка</h3>
<p>Словесно задача о сумме формулируется как задача нахождения таких чисел из данной совокупности,
    которые в сумме дают заданное число, классически задача формулируется в терминах целых чисел
    [6].</p>
<p>В терминах структур данных языка высокого уровня задача формулируется, как задача определения
    таких элементов исходного массива S из N чисел, которые в сумме дают число V (отметим, что
    задача относится к классу NPC).</p>
<p>Детальная формулировка:<br/>
    Дано: Массив S[i], i={1, N} и число V.<br/>
    Требуется: определить такие Sj, что <img border=0 class="i" src="./img/summa.gif"/> Sj=V<br/>
</p>
<p>Тривиальное решение определяется равенством V=Sum, где Sum=<img border=0 class="i"
                                                                   src="./img/summa.gif"/> Si ,
    условия существования решения имеют вид:</p>
<p>Min {S[i], i=1,N} =< V =< Sum.</p>
<p>Получим асимптотическую оценку сложности решения данной задачи для алгоритма, использующего
    прямой перебор всех возможных вариантов. Поскольку исходный массив содержит N чисел, то проверке
    на равенство V подлежат следующие варианты решений:</p>

<ul class="spisok">
    <li><p>V содержит 1 слагаемое <img border=0 class="i" src="./img/formula19.gif"/> вариантов;</p>
    <li><p>V содержит 2 слагаемых <img border=0 class="i" src="./img/formula20.gif"/> вариантов;</p>
    <li><p>V содержит 3 слагаемых <img border=0 class="i" src="./img/formula21.gif"/> вариантов;</p>
    <li><p>и т.д. до проверки одного варианта с N слагаемыми.</p>
</ul>
<p>Поскольку сумма биномиальных коэффициентов для степени N равна - <img border=0 class="i"
                                                                         src="./img/formula22.gif"/>
    и для каждого варианта необходимо выполнить суммирование (с оценкой O(N)) для проверки на V, то
    оценка сложности алгоритма в худшем случае имеет вид:</p>
<p><img border=0 class="i" src="./img/formula23.gif"/> (7.1)</p>
<h3>Алгоритм точного решения задачи о сумме (метод перебора)</h3>
<p>Определим вспомогательный массив, хранящий текущее сочетание исходных чисел в массиве S,
    подлежащих проверке на V – массив Cnt[j], элемент массива равен «0», если число S[j] не входит в
    V и равен «1», если число S[j] входит в V </p>
<p>Решение получено, если V =<img border=0 class="i" src="./img/summa.gif"/>S[j]*Cnt[j].</p>
<ul class="spisok">
    <b class="zagolovok_spiska">Могут быть предложены следующие две реализации механизма полного
        перебора вариантов:</b>
    <li><p>перебор по всевозможным сочетаниям из k элементов по N, т.е. сначала алгоритм пытается
        представить V как один из элементов массива S, затем перебираются все возможные пары, затем
        все возможные тройки и т.д.;</p>
    <li><p>перебор по двоичному счётчику, реализованному в массиве Cnt: Вторая идея алгоритмически
        более проста и сводится к решению задаче об увеличении двоичного счётчика в массиве Cnt на
        «1»:</p>
    <li><p>при 00...0111 увеличение на «1» приводит к сбросу всех правых «1» и установке в «1»
        следующего самого правого «0»;</p>
    <li><p>при 00...1000, когда последний элемент счетчика равен «0» увеличение на «1» приводит к
        переустановке последнего элемента в массиве Cnt с «0» в «1».</p>
</ul>

<p>Рассматривая массив Cnt как указатель на элементы массива S, подлежащие суммированию в данный
    момент, мы производим суммирование и проверку на V, до тех пор, пока решение не будет найдено
    или же безрезультатно будут просмотрены все возможные варианты.</p>
<p>Таким образом, алгоритм точного решения задаче о сумме методом прямого перебора имеет в
    формальной системе языка высокого уровня следующий вид:</p>

<table align=center border=1>
    <tr>
        <td>TASKSUM(S,N,V; CNT,FL)<br/>
            FL <-- false<br/>
            i <-- 1<br/>
            repeat<br/>
            Cnt[i] <-- 0<br/>
            i <-- i+1<br/>
            Until i > N<br/>
            Cnt[N] <-- 1<br/>
            Repeat<br/>
            Sum <-- 0<br/>
            i <-- 1<br/>
            Repeat<br/>
            Sum <-- Sum + S[i] * Cnt[i]
        </td>
        <td>i <-- i+1<br/>
            Until i > N<br/>
            if Sum = V<br/>
            FL <-- true<br/>
            Return (Cnt,FL)<br/>
            j <-- N<br/>
            While Cnt[j] = 1<br/>
            Cnt[j] = 0<br/>
            j <-- j-1<br/>
            Cnt[j] <-- 1<br/>
            Until Cnt[0] = 1<br/>
            Return(Cnt,FL)
        </td>
    </tr>
</table>

<h3>Анализ алгоритма точного решения задачи о сумме</h3>
<p>Рассмотрим лучший и худший случай для данного алгоритма:</p>
<ul type="a">
    <li><p>) В лучшем случае, когда последний элемент массива совпадает со значением V:
        V=S[N],необходимо выполнить только одно суммирование, что приводит к оценке:<img border=0
                                                                                         class="i"
                                                                                         src="./img/fa_lud.gif"/>(N)=Q(N);
    </p>
    <li><p>В худшем случае, если решения вообще нет, то придется проверить все варианты, и <img
            border=0 class="i" src="./img/fa_hud.gif"/>(N) = Q (N*<img border=0 class="i"
                                                                       src="./img/2_n.gif"/>).</p>
</ul>
<p>Получим детальную оценку для худшего случая, используя принятую методику подсчета элементарных
    операций:</p>
<p><img border=0 class="i" src="./img/fa_hud.gif"/>(N) = 2+N*(3+2)+2+(<img border=0 class="i"
                                                                           src="./img/2_n.gif"/>-1)*{2+N*(3+5)+1+1+<img
        border=0 class="i" src="./img/fcnt.gif"/>+2+2} (7.2)</p>
<p>Для получения значения <img border=0 class="i" src="./img/fcnt.gif"/> - количества операций,
    необходимых для увеличения счетчика на «1» рассмотрим по шагам проходы цикла While, в котором
    выполняется эта операция:</p>
<table border=1>
    <tr>
        <td>CNT</td>
        <td>Количество проходов в While</td>
        <td>Операций</td>
    </tr>
    <tr>
        <td>001</td>
        <td align=center>1</td>
        <td>6+2</td>
    </tr>
    <tr>
        <td>010</td>
        <td align=center>0</td>
        <td>2</td>
    </tr>
    <tr>
        <td>011</td>
        <td align=center>2</td>
        <td>2*6+2</td>
    </tr>
    <tr>
        <td>100</td>
        <td align=center>0</td>
        <td>2</td>
    </tr>
    <tr>
        <td>101</td>
        <td align=center>1</td>
        <td>6+2</td>
    </tr>
    <tr>
        <td>110</td>
        <td align=center>0</td>
        <td>2</td>
    </tr>
    <tr>
        <td>111</td>
        <td align=center>3</td>
        <td>3*6+2</td>
    </tr>
</table>
<p><img border=0 class="i" src="./img/img15.gif"/></p>
<p><img border=0 class="i" src="./img/img16.gif"/></p>

