<h2>Рекурсивные функции и алгоритмы</h2>
<hr class="tb">
<h3>Рекурсивные функции</h3>
<p><i>а) Терминологическое введение</i></p>
<p>По сути один и тот же метод, применительно к различным областям носит различные названия – это
    индукция, рекурсия и рекуррентные соотношения – различия касаются особенностей
    использования.</p>
<p>Под <i>индукцией</i> понимается метод доказательства утверждений, который строится на базе
    индукции при n=0,1, затем утверждение полагается правильным при n=n b и проводится
    доказательство для n+1.</p>
<p>Под <i>рекурсией</i> понимается метод определения функции через её предыдущие и ранее
    определенные значения, а так же способ организации вычислений, при котором функция вызывает сама
    себя с другим аргументом.</p>
<p>Термин <i>рекуррентные соотношения</i> связан с американским научным стилем и определяет
    математическое задание функции с помощью рекурсии.</p>
<p>Основной задачей исследования рекурсивно заданных функций является получение f(n) в явной или как
    еще говорят «замкнутой» форме, т.е. в виде аналитически заданной функции. В связи с этим
    рассмотрим ряд примеров:</p>
<p><i>б) Примеры рекурсивного задания функций</i></p>

<table border=0>
    <tr>
        <td>1.</td>
        <td><img border=0 class="i" src="./img/skobka.gif"/></td>
        <td>f(0)=0<br/>
            f(n)= f(n-1)+1
        </td>
    </tr>
</table>
<table border="0">
    <tr>
        <td>2.</td>
        <td><img border=0 class="i" src="./img/skobka.gif"/></td>
        <td>f(0)=1<br/>
            f(n)= n*f(n-1)
        </td>
    </tr>
</table>

<p>Последовательная подстановка дает – f(n)=1*2*3*…*n = n!</p>
<p>Для полноты сведений приведем формулу Стирлинга для приближенного вычисления факториала для
    больших n: <img border=0 class="i" src="./img/formula24.gif"/></p>

<table border=0>
    <tr>
        <td>3.</td>
        <td><img border=0 class="i" src="./img/skobka.gif"/></td>
        <td>f(0)=1<br/>
            f(1)=1<br/>
            f(n)= f(n-1)+ f(n-2), n>=2
        </td>
    </tr>
</table>

<p>Эта рекурсивная функция определяет числа Фибоначчи: 1 1 2 3 5 8 13, которые достаточно часто
    возникают при анализе различных задач, в том числе и при анализе алгоритмов. Отметим, что
    асимптотически <img border=0 class="i" src="./img/formula25.gif"/></p>

<table border=0>
    <tr>
        <td>4.</td>
        <td><img border=0 class="i" src="./img/skobka.gif"/></td>
        <td>f(0)=1<br/>
            f(n)= f(n-1)+ f(n-2)+…+1 =<img border=0 class="i" src="./img/summa.gif"/> f(i)+1
        </td>
    </tr>
</table>

<p>Для получения функции в явном виде рассмотрим ее последовательные значения:f(0)=1, f(1)=2,
    f(2)=4, f(3)=8, что позволяет предположить, что f(n)=<img border=0 class="i"
                                                              src="./img/n2.gif"/>, точное
    доказательство выполняется по индукции.</p>
<table border=0>
    <tr>
        <td>5.</td>
        <td><img border=0 class="i" src="./img/skobka.gif"/></td>
        <td>f(0)=1<br/>
            f(n)= 2*f(n-1)
        </td>
    </tr>
</table>
<p>Мы имеем дело с примером того, что одна и та же функция может иметь различные рекурсивные
    определения – f(n)=<img border=0 class="i" src="./img/n2.gif"/>, как и в примере 4, что
    проверяется элементарной подстановкой.</p>

<table border=0>
    <tr>
        <td>6.</td>
        <td><img border=0 class="i" src="./img/skobka.gif"/></td>
        <td>f(0)=1<br/>
            f(1)=2<br/>
            f(n)= f(n-1)*f(n-2)
        </td>
    </tr>
</table>
<p>В этом случае мы можем получить решение в замкнутой форме, сопоставив значениям функции
    соответствующие степени двойки:</p>
<p><img border=0 class="i" src="./img/img17.gif"/></p>
<p>Обозначив через Fn - n-ое число Фибоначчи, имеем: f(n)=<img border=0 class="i"
                                                               src="./img/2fn.gif"/>.</p>
<h3>Рекурсивная реализация алгоритмов</h3>
<p>Большинство современных языков высокого уровня поддерживают механизм рекурсивного вызова, когда
    функция, как элемент структуры языка программирования, возвращающая вычисленное значение по
    своему имени, может вызывать сама себя с другим аргументом. Эта возможность позволяет напрямую
    реализовывать вычисление рекурсивно определенных функций. Отметим, что в силу тезиса
    Черча–Тьюринга аппарат рекурсивных функций Черча равномощен машине Тьюринга, и, следовательно,
    любой рекурсивный алгоритм может быть реализован итерационно.</p>
<p>F(n);<br/>
    If n=0 or n=1 (проверка возможности прямого вычисления)<br/>
    Then<br/>
    F <-- 1<br/>
    Else<br/>
    F <-- n*F(n-1); ( рекурсивный вызов функции)<br/>
    Return (F);<br/>
    End;
</p>

<p>Анализ трудоемкости рекурсивных реализаций алгоритмов, очевидно, связан как с количеством
    операций, выполняемых при одном вызове функции, так и с количеством таких вызовов. Графическое
    представление порождаемой данным алгоритмом цепочки рекурсивных вызовов называется деревом
    рекурсивных вызовов. Более детальное рассмотрение приводит к необходимости учета затрат как на
    организацию вызова функции и передачи параметров, так и на возврат вычисленных значений и
    передачу управления в точку вызова.</p>
<p>Можно заметить, что некоторая ветвь дерева рекурсивных вызовов обрывается при достижении такого
    значения передаваемого параметра, при котором функция может быть вычислена непосредственно.
    Таким образом, рекурсия эквивалентна конструкции цикла, в котором каждый проход есть выполнение
    рекурсивной функции с заданным параметром.</p>
<p>Рассмотрим пример для функции вычисления факториала (рис 8.1):</p>

<table border="0">
    <tr>
        <td>Цепочка рекурсивных возвратов</td>
        <td><img border="0" class="i" src="./img/img18.gif"/></td>
        <td>Цепочка рекурсивных вызовов</td>
    </tr>
</table>
<p>Рис 8.1 Дерево рекурсии при вычислении факториала – F(5)</p>
<p>Дерево рекурсивных вызовов может иметь и более сложную структуру, если на каждом вызове
    порождается несколько обращений – фрагмент дерева рекурсий для чисел Фибоначчи представлен на
    рис 8.2: </p>
<img border=0 class="i" src="./img/img19.gif"/>
<p>Рис 8.2 Фрагмент дерева рекурсии при вычислении чисел Фибоначчи – F(5)</p>

<h3>Анализ трудоемкости механизма вызова процедуры</h3>
<p>Механизм вызова функции или процедуры в языке высокого уровня существенно зависит от архитектуры
    компьютера и операционной системы. В рамках IBM PC совместимых компьютеров этот механизм
    реализован через программный стек. Как передаваемые в процедуру или функцию фактические
    параметры, так и возвращаемые из них значения помещаются в программный стек специальными
    командами процессора. Дополнительно сохраняются зна-чения необходимых регистров и адрес возврата
    в вызывающую процедуру. Схематично этот механизм иллюстрирован на рис 8.3:</p>
<img border=0 class="i" src="./img/img20.gif"/>
<p>Рис 8.2 Механизм вызова процедуры с использованием программного стека</p>
<p>Для подсчета трудоемкости вызова будем считать операции помещения слова в стек и выталкивания из
    стека элементарными операциями в формальной системе. Тогда при вызове процедуры или функции в
    стек помещается адрес возврата, состояние необходимых регистров процессора, адреса возвращаемых
    значений и передаваемые параметры. После этого выполняется переход по адресу на вызываемую
    процедуру, которая извлекает переданные фактические параметры, выполняет вычисления, помещает их
    по указанным в стеке адресам, и при завершении работы восстанавливает регистры, выталкивает из
    стека адрес возврата и осуществляет переход по этому адресу.</p>
<p>Обозначив через:<br/>
    m - количество передаваемых фактических параметров,<br/>
    k - количество возвращаемых процедурой значений,<br/>
    r - количество сохраняемых в стеке регистров,<br/> имеем:
</p>
<p>fвызова = m+k+r+1+m+k+r+1 = 2*(m+k+r+1) элементарных операций на один вызов и возврат.</p>
<p>Анализ трудоемкости рекурсивных алгоритмов в части трудоемкости самого рекурсивного вызова можно
    выполнять разными способами в зависимости от того, как формируется итоговая сумма элементарных
    операций – рассмотрением в отдельности цепочки рекурсивных вызовов и возвратов, или совокупно по
    вершинам дерева рекурсивных вызовов.</p>
<h3>Анализ трудоемкости алгоритма вычисления факториала</h3>
<p>Для рассмотренного выше рекурсивного алгоритма вычисления факториала количество вершин
    рекурсивного дерева равно, очевидно, n, при этом передается и возвращается по одному значению
    (m=1, k=1), в предположении о сохранении четырех регистров – r=4, а на последнем рекурсивном
    вызове значение функции вычисляется непосредственно – в итоге:</p>
<p>fa(n)=n*2*(1+1+4+1)+(n-1)*(1+3)+1*2=18*n - 2</p>
<p>Отметим, что n – параметр алгоритма, а не количество слов на входе.</p>
