<h2>Рекурсивные алгоритмы и методы их анализа</h2>
<hr class="tb">

<h3>Логарифмические тождества</h3>

<p>При анализе рекурсивных алгоритмов достаточно часто используются логарифмические тождества, далее
    предполагается, что, a > 0, b > 0, c > 0, основание логарифма не равно единице:</p>
<p><img border=0 class="i" src="./img/formula26.gif"/></p>
<p><img border=0 class="i" src="./img/formula27.gif"/><img border=0 class="i"
                                                           src="./img/sleduet.gif"/><br/>
    в записи Q(ln(x)) основание логарифма не существенно, если он больше единицы, т.к. константа
    скрывается обозначением Q.</p>
<p><img border=0 class="i" src="./img/formula28.gif"/></p>
<p>Можно показать, что для любого <img border=0 class="i" src="./img/formula29.gif"/></p>
<h3>Методы решения рекурсивных соотношений</h3>
<p>В математике разработан ряд методов, с помощью которых можно получить явный вид рекурсивно
    заданной функции – метод индукции, формальные степенные ряды, метод итераций и т.д. Рассмотрим
    некоторые из них:</p>
<i>а) Метод индукции</i>
<p>Метод состоит в том, что бы сначала угадать решение, а затем доказать его правильность по
    индукции. Пример:</p>
<table border="0">
    <tr>
        <td><img border="0" class="i" src="./img/skobka.gif"/></td>
        <td>f(0)=1<br/>
            f(n+1)=2*f(n)
        </td>
    </tr>
</table>
<p>Предположение: f(n)=<img border=0 class="i" src="./img/2n.gif"/></p>
<p>Базис: если f(n)=<img border=0 class="i" src="./img/2n.gif"/> , то f(0)=1, что выполнено по
    определению.</p>
<p>Индукция: Пусть f(n)=<img border=0 class="i" src="./img/2n.gif"/> , тогда для n+1 <img border=0
                                                                                          class="i"
                                                                                          src="./img/sleduet.gif"/>
    f(n+1)= 2 * <img border=0 class="i" src="./img/2n.gif"/> =<img border=0 class="i"
                                                                   src="./img/2nplus1.gif"/></p>
<p>Заметим, что базис существенно влияет на решение, так, например:</p>
<p>Если f(0)=0, то f(n)=0;</p>
<p>если f(0)=1/7, то f(n)=(1/7)*<img border=0 class="i" src="./img/2n.gif"/>; если f(0)=1/64, то
    f(n)=(2)<img border=0 class="i" src="./img/nminus6.gif"/></p>
<i>б) Метод итерации (подстановки) </i>
<p>Суть метода состоит в последовательной подстановке – итерации рекурсивного определения, с
    последующим выявлением общих закономерностей:</p>
<p>Пусть f(n)=3*f(n/4)+n, тогда:</p>
<p>f(n)=n+3*f(n/4)=n+3*[n/4+3*f(n/16)]=n+3*[n/4+3{n/16+3*f(n/64) }], </p>
<p>и раскрывая скобки, получаем:</p>
<p>f(n)=n+3*n/4+9*n/16+27*n/64+…+<img border=0 class="i" src="./img/3i.gif"/>*n/<img border=0
                                                                                     class="i"
                                                                                     src="./img/4i.gif"/>
</p>
<p>Остановка рекурсии произойдет при <img border=0 class="i" src="./img/formula30.gif"/>, в этом
    случае последнее слагаемое не больше, чем <img border=0 class="i" src="./img/formula31.gif"/>
</p>
<p><img border=0 class="i" src="./img/formula32.gif"/>, то окончательно:</p>
<p><img border=0 class="i" src="./img/formula33.gif"/></p>
<h3>Рекурсивные алгоритмы.</h3>
<p>Основной метод построения рекурсивных алгоритмов – это метод декомпозиции. Идея метода состоит в
    разделении задачи на части меньшей размерности, получение решение для полученных частей и
    объединение решений.</p>
<p>общем виде, если происходит разделение задачи на b подзадач, которое приводит к необходимости
    решения a подзадач размерностью n/b, то общий вид функции трудоемкости имеет вид:</p>
<p>fA(n )= a * fA( n/b )+d(n)+U(n) (9.1), где:</p>
<p>d(n) – трудоемкость алгоритма деления задачи на подзадачи,<br/>
    U(n) – трудоемкость алгоритма объединения полученных решений.</p>
<p>Рассмотрим, например, известный алгоритм сортировки слиянием, принадлежащий Дж. Фон Нейману:</p>
<p>На каждом рекурсивном вызове переданный массив делится пополам, что дает оценку для d(n) =Q (1),
    далее рекурсивно вызываем сортировку полученных массивов половинной длины (до тех пор, пока
    длина массива не станет равной единице), и сливаем возвращенные отсортированные массивы за Q
    (n).</p>
<p>Тогда ожидаемая трудоемкость на сортировку составит:<br/>
    fA(n )= 2 * fA( n/2 )+ Q (1)+ Q (n)</p>
<p>Тем самым возникает задача о получении оценки сложности функции трудоемкости, заданной в виде
    (9.1), для произвольных значений a и b.</p>
<h3>Основная теорема о рекуррентных соотношениях</h3>
<p>Следующая теорема принадлежит Дж. Бентли, Д. Хакен и Дж. Саксу (1980 г.).</p>
<p><i>Теорема.</i>Пусть a >= 1, b > 1 - константы, g(n) - функция, пусть далее:</p>
<p>f(n)=a*f(n/b)+g(n) </p>
<i>Тогда:</i>
<ol>

    <li><p>Если g(n)=O(<img border=0 class="i" src="./img/nlogba-ksi.gif"/>),<img border=0 class="i"
                                                                                  src="./img/ksi.gif"/>
        >0, то f(n)=Q(<img border=0 class="i" src="./img/nlogba.gif"/>)<br/>
        Пример:f(n) = 8f(n/2)+<img border=0 class="i" src="./img/n2.gif"/>, тогда f(n) = Q(<img
                border=0 class="i" src="./img/n3.gif"/>)</p>
    <li><p>) Если g(n)=Q(<img border=0 class="i" src="./img/nlogba.gif"/>), то f(n)=Q(<img border=0
                                                                                           class="i"
                                                                                           src="./img/nlogba.gif"/>*log
        n)<br/>
        Пример: fA(n)= 2 * fA( n/2 )+ Q (n), тогда f(n) = Q(n*log n)</p>
    <li><p>Если g(n) = <img border=0 class="i" src="./img/omega.gif"/>(<img border=0 class="i"
                                                                            src="./img/nlogbapluse.gif"/>),
        e > 0, то f(n)=Q(g(n))<br/>
        Пример: f(n)=2*f(n/2)+<img border=0 class="i" src="./img/n2.gif"/>, имеем:</p>
</ol>
<p><img border=0 class="i" src="./img/nlogba.gif"/> = <img border=0 class="i" src="./img/nl.gif"/>,
    и следовательно: f(n) = Q(<img border=0 class="i" src="./img/n2.gif"/>)</p>
<p>Данная теорема является мощным средством анализа асимптотической сложности рекурсивных
    алгоритмов, к сожалению, она не дает возможности получить полный вид функции трудоемкости.</p>

